<!-- Projects Section -->
<section id="projects" class="projects section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Projects</h2>
    <p>
      Showcasing Our Commitment to Excellence in Construction and Engineering.
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div
      class="isotope-layout"
      data-default-filter="*"
      data-layout="masonry"
      data-sort="original-order"
    >
      <ul
        class="portfolio-filters isotope-filters"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-remodeling">Remodeling</li>
        <li data-filter=".filter-construction">Construction</li>
        <li data-filter=".filter-repairs">Repairs</li>
        <li data-filter=".filter-design">Design</li>
      </ul>
      <!-- End Portfolio Filters -->

      <div
        class="row gy-4 isotope-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <% pictures.forEach(picture => { %>
        <div
          class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling"
        >
          <div class="portfolio-content h-100">
            <img
              src="http://localhost:8088/uploads/pictures/<%= picture.imageUrl %>"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><%= picture.title %></h4>
              <!-- <p><%= getProject(picture.projectId).title %></p> -->
              <a
                href="http://localhost:8088/uploads/pictures/<%= picture.imageUrl %>"
                title="<%= picture.title %>"
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="/projects/<%= stringSlugify(picture.title) %>"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- End Portfolio Item -->
      </div>
      <!-- End Portfolio Container -->
    </div>
  </div>
</section>
<!-- /Projects Section -->
