<!-- Alt Services Section -->
<section id="alt-services" class="alt-services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Services</h2>
    <p>
      Let RennyBlessed Construction be your trusted
      partner for all your construction and engineering needs.
    </p>
  </div>
  <!-- End Section Title -->
  <div class="container">
    <div class="row justify-content-around gy-4">
      <div
        class="features-image col-lg-6"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/img/alt-services.jpg" alt="" />
      </div>

      <div
        class="col-lg-5 d-flex flex-column justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3>Explore Our Expertise</h3>
        <p>
          we offer a wide range of professional services to cater to the diverse
          needs of our clients. Our commitment to excellence ensures that every
          project, no matter the scale, is executed with precision,
          professionalism, and attention to detail.
        </p>

        <% services.forEach(service => { %>
        <div
          class="icon-box d-flex position-relative"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <i class="flex-shrink-0"
            ><img
              height="50"
              width="50"
              src="http://localhost:8088/assets/uploads/services/<%= service.imageUrl %>"
              alt="<%= service.title %>"
          /></i>
          <div>
            <h4><a href="/services/<%= stringSlugify(service.title) %>" class="stretched-link"><%= service.title %></a></h4>
            <p><%= stringLimiter(service.description, 100) %></p>
          </div>
        </div>
        <% }) %>

        <!-- End Icon Box -->
      </div>
    </div>
  </div>
</section>
<!-- /Alt Services Section -->
