<%- include("../../../layout/admin-header") %>

<main id="main" class="main">
  <%- include("../../../partials/admin/breadcrumb") %>
  <div class="mb-3 pt-2 pb-0 d-flex justify-content-start align-items-center">
    <a href="/dashboard/pictures" class="text-primary"
      ><i class="bi bi-arrow-left"></i> Back</a
    >
  </div>
  <div class="card py-5">
    <div class="card-body">
      <!-- Vertical Form -->
      <form
        class="row g-3"
        action="/dashboard/pictures/edit/<%= picture.id %>"
        method="post"
        enctype="multipart/form-data"
      >
      <div class="col-12 col-md-6">
        <label for="projectId" class="form-label">Project</label>
        <select
          class="form-select"
          name="projectId"
          aria-label="project"
          id="projectId"

        >
          <option selected>Select a project title</option>
          <% projects.forEach(function(project) { %>
          <option value="<%= project.id %>"  <%= project.id === projectId ? 'selected' : '' %>><%= project.title %></option>
          <% }) %>
        </select>
      </div>
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            value="<%= picture.title %>"
            placeholder="title"
          />
        </div>

        <div class="col-12">
          <label for="imageUrl" class="form-label">ImageUrl</label>
          <input
            type="file"
            name="imageUrl"
            class="form-control"
            id="imageUrl"
          />
        </div>
        <div class="text-left">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <button type="reset" class="btn btn-warning">Reset</button>
        </div>
      </form>
      <!-- Vertical Form -->
    </div>
  </div>
</main>

<%- include("../../../layout/admin-footer") %>
