<%- include("../layout/header") %>
<main class="main">
  <!-- Page Title -->
  <div
    class="page-title dark-background"
    style="background-image: url(assets/img/page-title-bg.jpg)"
  >
    <div class="container position-relative">
      <h1>About</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- About Section -->
  <section id="about" class="about section">
    <div class="container">
      <div class="row position-relative">
        <div
          class="col-lg-7 about-img"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <img src="assets/img/about.jpg" />
        </div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
          <h2 class="inner-title">Our Story</h2>
          <div class="our-story">
            <!-- <h3>Our Story</h3> -->
            <p>
              From humble beginnings as a small consultancy firm, we have grown
              into a multidisciplinary organization that is trusted to deliver
              complex projects across a wide array of industries. Our founders
              recognized a gap in the market for a company that could integrate
              sustainable and innovative solutions into every phase of a
              project, from concept to completion. With a team of passionate
              engineers, architects, and project managers, we’ve worked
              tirelessly to bring that vision to life, ensuring every client
              receives personalized service and expert guidance throughout their
              project.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i>
                <span>Innovation</span>
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                <span>Sustainability</span>
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                <span>Integrity</span>
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                <span>Excellence</span>
              </li>
            </ul>
            <div
              class="watch-video d-flex align-items-center position-relative"
            >
              <i class="bi bi-play-circle"></i>
              <a
                href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
                class="glightbox stretched-link"
                >Watch Video</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Stats Counter Section -->
  <section id="stats-counter" class="stats-counter section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Stats</h2>
      <p>
        At RBEC Ltd, our numbers speak for themselves. <br /> Our commitment to
        excellence, innovation, and client satisfaction has driven remarkable
        growth and success.
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-check-circle-fill color-blue flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="10"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Years of Experience</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-broadcast color-blue flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="10"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Geographical Reach</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-award-fill color-blue flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="10"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Awards & Recognition</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="<%= testimonialCount %>"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Satisfied Clients</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="<%= projectCount %>"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Projects</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-headset color-green flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="1463"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Hours Of Support</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-people color-pink flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="<%= teamCount %>"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Team Size</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- /Stats Counter Section -->

  <!-- Service Start -->
  <%- include("../partials/home/service") %>
  <!-- Service End -->

  <!-- Team Section -->
  <section id="team" class="team section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Team</h2>
      <p>
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-5">
        <% teams.forEach(team => { %>
        <div
          class="col-lg-4 col-md-6 member"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="member-img">
            <img
              src="http://localhost:8088/assets/uploads/teams/<%= team.imageUrl %>"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href="<%= team.facebookUrl %>"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="<%= team.twitterUrl %>"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="<%= team.instagramUrl %>"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="<%= team.linkedInUrl %>"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4><%= team.personName %></h4>
            <span><%= team.profession %></span>
            <p><%= stringLimiter(team.biography, 100) %></p>
          </div>
        </div>
        <% }) %>
        <!-- End Team Member -->
      </div>
    </div>
  </section>
  <!-- /Team Section -->

  <!-- Testimonials Section -->
  <%- include("../partials/home/testimonial") %>
  <!-- /Testimonials Section -->
</main>

<%- include("../layout/footer") %>
