<%- include("../layout/header") %>
<main>
  <!-- Header Start -->

  <%- include("../partials/header-block") %>
  <!-- Header End -->

  <!-- Counter-stats Start -->
  <%- include("../partials/contact-us/contact-form") %>
  <!-- Counter-stats End -->

  <!-- About Start -->
  <%- include("../partials/home/contact") %>
  <!-- About End -->
</main>

<%- include("../layout/footer") %>
