<%- include("../layout/header") %>
<main>
  <!-- Header Start -->
  <%- include("../partials/header-block") %>
  <!-- Header End -->

  <!-- Feature Start -->
  <%- include("../partials/home/feature") %>
  <!-- Feature End -->

  <!-- Counter-stats Start -->
  <%- include("../partials/home/counter-stats") %>
  <!-- Counter-stats End -->

  <!-- Country Start -->
  <%- include("../partials/home/country") %>
  <!-- Country End -->
</main>

<%- include("../layout/footer") %>
