<%- include("../layout/header") %>
<main>
  <%- include("../partials/home/hero") %>

  <!-- modal search: action inside the header nav -->
  <%- include("../partials/home/modal-search") %>

  <!-- About Start -->
  <%- include("../partials/home/about") %>
  <!-- About End -->

  <!-- Counter-stats Start -->
  <%- include("../partials/home/counter-stats") %>
  <!-- Counter-stats End -->

  <!-- Service Start -->
  <%- include("../partials/home/service") %>
  <!-- Service End -->

  <!-- Feature Start -->
  <%- include("../partials/home/feature") %>
  <!-- Feature End -->

  <!-- Country Start -->
  <%- include("../partials/home/country") %>
  <!-- Country End -->

  <!-- Testimonial Start -->
  <%- include("../partials/home/testimonial") %>
  <!-- Testimonial End -->

  <!-- Training Start -->
  <%- include("../partials/home/training") %>
  <!-- Training End -->

   <!-- Contact Start -->
   <%- include("../partials/home/contact") %>
   <!-- Contact End -->
</main>

<%- include("../layout/footer") %>
