<%- include("../layout/header") %>
<main class="main">
  <%- include("../partials/home/hero") %>

  <!-- get quote: get started -->
  <%- include("../partials/home/quote") %>

  <!-- construction Start -->
  <%- include("../partials/home/construction") %>
  <!-- construction End -->

  <!-- Service Start -->
  <%- include("../partials/home/service") %>
  <!-- Service End -->

  <!-- Feature Start -->
  <%- include("../partials/home/feature") %>
  <!-- Feature End -->

  <!-- Testimonial Start -->
  <%- include("../partials/home/testimonial") %>
  <!-- Testimonial End -->

</main>

<%- include("../layout/footer") %>
