<%- include("../layout/header") %>

<main class="main">
  <!-- Page Title -->
  <div
    class="page-title dark-background"
    style="background-image: url(assets/img/page-title-bg.jpg)"
  >
    <div class="container position-relative">
      <h1>Services</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Services</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">
    <div class="container">
      <div class="row gy-4">
        <% services.forEach(service => { %>
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <!-- <i class="fa-solid fa-mountain-city"></i> -->
              <i class="flex-shrink-0"
                ><img
                  height="50"
                  width="50"
                  src="<%= APP_URL  %>/uploads/services/<%= service.imageUrl %>"
                  alt="<%= service.title %>"
              /></i>
            </div>
            <h3><%= service.title %></h3>
            <p><%= stringLimiter(service.description, 100) %></p>
            <a href="/services/<%= stringSlugify(service.title) %>" class="readmore stretched-link"
              >Read more <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
        <% }) %>

        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->

  <!-- Testimonials Section -->
  <%- include("../partials/home/testimonial") %>
  <!-- /Testimonials Section -->
</main>

<%- include("../layout/footer") %>
