<%- include("../layout/header") %>
<main class="main">
  <!-- Page Title -->
  <div
    class="page-title dark-background"
    style="background-image: url(/assets/img/page-title-bg.jpg)"
  >
    <div class="container position-relative">
      <h1>Service Details</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">Service Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Service Details Section -->
  <section id="service-details" class="service-details section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="services-list">
            <a href="#" class="active"><%= service.title %></a>

            <% services.forEach(item => { %>
              <% if (item.title == service.title) { %>
                <br />
              <% } else { %>
                <a href="<%= stringSlugify(item.title) %>"><%= item.title %></a>
              <% } %>
            <% }) %>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          <img
            src="http://localhost:8088/assets/uploads/services/<%= service.imageUrl %>"
            alt="<%= service.title %>"
            class="img-fluid services-img"
          />
          <h3>
            <%= service.title %>
          </h3>
          <p class="mt-3">
            <%= service.description %>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /Service Details Section -->
</main>

<%- include("../layout/footer") %>
