<%- include("../layout/header") %>
<main>
  <!-- Header Start -->
  <%- include("../partials/header-block") %>
  <!-- Header End -->

  <!-- Training Start -->
  <%- include("../partials/home/training") %>
  <!-- Training End -->

  <!-- Counter-stats Start -->
  <%- include("../partials/home/counter-stats") %>
  <!-- Counter-stats End -->

  <!-- Country Start -->
  <%- include("../partials/home/country") %>
  <!-- Country End -->
</main>

<%- include("../layout/footer") %>
