<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <%- include("../../layout/navbar") %>
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h2>Declaration and Signature</h2>
      <form action="/apply-digital-signature" method="post">
        <div class="form-group mb-3">
          <label for="declaration">Declaration:</label>
          <textarea
            class="form-control"
            id="declaration"
            name="declaration"
            rows="5"
            readonly
          >
      I hereby declare that the information provided in this application is true and correct to the best of my knowledge. I understand that providing false information may result in the refusal of my visa application.
    </textarea
          >
        </div>
        <div class="form-group mb-3">
          <label for="signature">Signature:</label>
          <input
            type="text"
            class="form-control"
            id="signature"
            name="signature"
            required
            value="<%= digitalSignature.signature %>"
          />
        </div>
        <div class="form-group mb-3">
          <label for="signatureDate">Signature Date:</label>
          <input
            type="date"
            class="form-control"
            id="signatureDate"
            name="signatureDate"
            required
            value="<%= digitalSignature.signatureDate.toISOString().split('T')[0] %>"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</main>
<%- include("../../layout/footer") %>
