<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <%- include("../../layout/navbar") %>
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1 class="mb-3">Personal Information</h1>
      <form action="/apply-personal-information" method="post" class="row">
        <div class="col-6 col-md-6 form-group">
          <label for="fullName" class="form-label">Full Name:</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            class="form-control"
            required
            value="<%= personalInfo.fullName %>"
          />
        </div>
        <div class="col-6 col-md-6 form-group mt-2">
          <label for="phone" class="form-label">Telephone:</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            required
            value="<%= personalInfo.phone %>"
          />
        </div>

        <div class="col-6 col-md-6 form-group mt-2">
          <label for="email" class="form-label">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            required
            value="<%= personalInfo.email %>"
          />
        </div>

        <div class="col-6 col-md-6 form-group mt-2">
          <label for="address" class="form-label"
            >Current Address (including country):</label
          >
          <input
            type="text"
            id="address"
            name="address"
            class="form-control"
            required
            value="<%= personalInfo.address %>"
          />
        </div>
        <div class="col-6 col-md-6 form-group mt-2">
          <label for="dateOfBirth" class="form-label">Date Of Birth:</label>
          <input
            type="date"
            id="dateOfBirth"
            name="dateOfBirth"
            class="form-control"
            required
            value="<%= personalInfo.dateOfBirth.toISOString().split('T')[0] %>"
          />
        </div>

        <div class="col-6 col-md-6 form-group mt-2">
          <label for="birthCountry" class="form-label">Country of Birth:</label>
          <input
            type="text"
            id="birthCountry"
            name="birthCountry"
            class="form-control"
            required
            value="<%= personalInfo.birthCountry %>"
          />
        </div>

        <div class="col-6 col-md-4 form-group mt-2">
          <label for="nationality" class="form-label">Nationality:</label>
          <select id="nationality" name="nationality" class="form-control">
            <option value="cameroon" <%= personalInfo.nationality === 'cameroon' ? 'selected' : '' %>>Cameroon</option>
            <option value="nigeria" <%= personalInfo.nationality === 'nigeria' ? 'selected' : '' %>>Nigeria</option>
            <option value="guinea" <%= personalInfo.nationality === 'guinea' ? 'selected' : '' %>>Guinea</option>
          </select>
        </div>

        <div class="col-6 col-md-4 form-group mt-2">
          <label for="gender" class="form-label">Gender:</label>
          <select id="gender" name="gender" class="form-control">
            <option value="male" <%= personalInfo.gender === 'male' ? 'selected' : '' %>>Male</option>
            <option value="female" <%= personalInfo.gender === 'female' ? 'selected' : '' %>>Female</option>
            <option value="others" <%= personalInfo.gender === 'others' ? 'selected' : '' %>>Others</option>
          </select>
        </div>

        <div class="col-6 col-md-4 form-group mt-2">
          <label for="maritalStatus" class="form-label">Marital Status:</label>
          <select id="maritalStatus" name="maritalStatus" class="form-control">
            <option value="married" <%= personalInfo.maritalStatus === 'married' ? 'selected' : '' %>>Married</option>
            <option value="single" <%= personalInfo.maritalStatus === 'single' ? 'selected' : '' %>>Single</option>
            <option value="divorced" <%= personalInfo.maritalStatus === 'divorced' ? 'selected' : '' %>>Divorced</option>
          </select>
        </div>

        <div class="ol-6 col-md-4 form-group mt-2">
          <label for="passportNumber" class="form-label"
            >Passport Number:</label
          >
          <input
            type="text"
            class="form-control"
            id="passportNumber"
            name="passportNumber"
            required
            value="<%= personalInfo.passportNumber %>"
          />
        </div>

        <div class="ol-6 col-md-4 form-group mt-2">
          <label for="passportIssueDate" class="form-label"
            >Passport Issue Date:</label
          >
          <input
            type="date"
            class="form-control"
            id="passportIssueDate"
            name="passportIssueDate"
            required
            value="<%= personalInfo.passportIssueDate.toISOString().split('T')[0] %>"
          />
        </div>

        <div class="ol-6 col-md-4 form-group mt-2">
          <label for="passportExpiryDate" class="form-label"
            >Passport Expiry Date:</label
          >
          <input
            type="date"
            class="form-control"
            id="passportExpiryDate"
            name="passportExpiryDate"
            required
            value="<%= personalInfo.passportExpiryDate.toISOString().split('T')[0] %>"
          />
        </div>

        <div class="form-group">
          <label for="passportIssuingCountry">Passport Issuing Country:</label>
          <input
            type="text"
            class="form-control"
            id="passportIssuingCountry"
            name="passportIssuingCountry"
            required
            value="<%= personalInfo.passportIssuingCountry %>"
          />
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <button type="submit" class="btn btn-primary d-block">Next</button>
        </div>
      </form>
    </div>
  </div>
</main>

<%- include("../../layout/footer") %>
