<%- include("../../layout/header") %>
<main>
  <div class="container py-5">
    <%- include("../../layout/navbar") %>
    <div class="col-12 col-md-10 mx-md-auto card border-0 shadow p-5">
      <h1>Security Information</h1>
      <form action="/apply-security-information" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
          <label for="criminalRecord">Do you have any criminal record?</label>
          <select
            class="form-control"
            id="criminalRecord"
            name="criminalRecord"
            required
          >
            <option value="">Select</option>
            <option value="yes" <%= securityInfo.criminalRecord === 'yes' ? 'selected' : '' %>>Yes</option>
            <option value="no" <%= securityInfo.criminalRecord === 'no' ? 'selected' : '' %>>No</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="detailsOfCriminalRecord">If yes, provide report file:</label>
          <input
            type="file"
            class="form-control"
            id="detailsOfCriminalRecord"
            name="detailsOfCriminalRecord"
            value="<%= securityInfo.detailsOfCriminalRecord %>"
          />
        </div>
        <div class="form-group mb-3">
          <label for="otherSecurityConcerns"
            >Are there any other security concerns or issues that you need to
            declare?</label
          >
          <textarea
            class="form-control"
            id="otherSecurityConcerns"
            name="otherSecurityConcerns"
            rows="3"
          ><%= securityInfo.otherSecurityConcerns %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</main>

<%- include("../../layout/footer") %>
