<div class="col-12 col-md-10 mx-md-auto card border-0 mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-personal-information') ? 'active' : '' %>"
        aria-current="page"
        href="/apply-personal-information"
        >Step 1</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-travel-information') ? 'active' : '' %>"
        href="/apply-travel-information"
        >Step 2</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-employment-information') ? 'active' : '' %>"
        href="/apply-employment-information"
        >Step 3</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-financial-information') ? 'active' : '' %>"
        href="/apply-financial-information"
        tabindex="-1"
        aria-disabled="true"
        >Step 4</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-health-information') ? 'active' : '' %>"
        href="/apply-health-information"
        tabindex="-1"
        aria-disabled="true"
        >Step 5</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-security-information') ? 'active' : '' %>"
        href="/apply-security-information"
        tabindex="-1"
        aria-disabled="true"
        >Step 6</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-travel-history-information') ? 'active' : '' %>"
        href="/apply-travel-history-information"
        tabindex="-1"
        aria-disabled="true"
        >Step 7</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-supporting-documents') ? 'active' : '' %>"
        href="/apply-supporting-documents"
        tabindex="-1"
        aria-disabled="true"
        >Step 8</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link h6 <%= (requestPath === '/apply-digital-signature') ? 'active' : '' %>"
        href="/apply-digital-signature"
        tabindex="-1"
        aria-disabled="true"
        >Step 9</a
      >
    </li>
    <li class="nav-item">
        <a
          class="nav-link h6 <%= (requestPath === '/apply-confirmation') ? 'active' : '' %>"
          href="/apply-confirmation"
          tabindex="-1"
          aria-disabled="true"
          >Confirmation</a
        >
      </li>
  </ul>
</div>
