<div class="col-12 col-md-10 mx-md-auto card border-0 mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-personal-information') ? 'active' : '' %>"
        aria-current="page"
        href="/apply-personal-information"
        >Personal...</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-travel-information') ? 'active' : '' %>"
        href="/apply-travel-information"
        >Travel...</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-employment-information') ? 'active' : '' %>"
        href="/apply-employment-information"
        >Employment...</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-financial-information') ? 'active' : '' %>"
        href="/apply-financial-information"
        tabindex="-1"
        aria-disabled="true"
        >Financial...</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-health-information') ? 'active' : '' %>"
        href="/apply-health-information"
        tabindex="-1"
        aria-disabled="true"
        >Health...</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-security-information') ? 'active' : '' %>"
        href="/apply-security-information"
        tabindex="-1"
        aria-disabled="true"
        >Security...</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-travel-history-information') ? 'active' : '' %>"
        href="/apply-travel-history-information"
        tabindex="-1"
        aria-disabled="true"
        >Travel History</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-supporting-documents') ? 'active' : '' %>"
        href="/apply-supporting-documents"
        tabindex="-1"
        aria-disabled="true"
        >Documents</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (requestPath === '/apply-digital-signature') ? 'active' : '' %>"
        href="/apply-digital-signature"
        tabindex="-1"
        aria-disabled="true"
        >Signature</a
      >
    </li>
  </ul>
</div>
